# Ignore Data
data/*
*.xlsx
*.csv

# Ignore Medical Images
*.nii.gz
*.json


# Ignore Logs
logs/
*.log
*.err

# Ignore initial TCIA Manifest
*.tcia

# Ignore Jupyter Artifacts
__pycache__/*

# Ignore development code
code_development/*

# Ignore paper writing
paper_writing/*

# Ignore publishing visuals for now
visuals/*

